# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
ios/Flutter/.last_build_id

# IDE
.idea/
.vscode/
*.iml

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
